name: Docker Image CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:

  run-tests:
  
      runs-on: ubuntu-latest
      timeout-minutes: 3
      
      steps:
        - uses: actions/checkout@v2
        - name: Run the Docker images
          run: docker-compose up --build
          
      
  
