name: Docker Image CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:

  run-tests:
  
      runs-on: ubuntu-latest
      timeout-minutes: 3
      
      steps:
        - uses: actions/checkout@v2
        - name: Run the Docker images
         env:
            MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
            MYSQL_HOST: ${{ secrets.MYSQL_HOST }}
            MYSQL_USER: ${{ secrets.MYSQL_USER }}
            MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          run: |
            docker-compose build
            docker-compose up --abort-on-container-exit      
  
