name: Docker Image CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker images
      run: docker-compose build
  
  up:
    
      runs-on: ubuntu-latest
      timeout-minutes: 1
      
      steps:
        - uses: actions/checkout@v2
        - name: Run the Docker images
          run: docker-compose up -d
          
      
  
